adf/pipeline/pipeline1 Test.json
{
	"name": "pipeline1 Test",
	"properties": {
		"activities": [
			{
				"name": "get_api_key",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "https://keyvaultazure12550.vault.azure.net/secrets/alpha-vantage-api-token/33db193ee5ed4ee7a9e5e0fb79a30001?api-version=7.5",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net/"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "get_api_key",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "api_key",
					"value": {
						"value": "@activity('get_api_key').output",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"api_key": {
				"type": "String"
			}
		},
		"folder": {
			"name": "test folder"
		},
		"annotations": []
	}
}